.lead {
  margin:auto;
  width:calc(100% - 296px);
  padding-top:56px;
}

@media screen and (max-width: 1024px) { 
  .lead { 
    width:calc(100% - 96px);
    padding-top:48px;
  }
}

@media screen and (max-width: 780px) { 
  .lead { 
    width:100%;
  }
}