.place__url-heading { 
  font-size:12px;
  line-height:1.24;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin:0 0 12px;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .place__url-heading {
    line-height: 1;
  }
}